{% extends 'base.html.twig' %}

{% block body %}
<div class= "container mt-4">
<h1>ajouter</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Libelle</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for service in services %}
     
        <tr>
            <td scope="row">{{service.Id}}</td>
            <td>{{service.Libelle}}</td>
            <td>
                <a href="{{ path('admin.service.edit',{Id: service.Id}) }}" class="btn btn-secondary">Modifier</a>
                <a href="{{ path('admin.service.delete',{Id: service.Id})}}" {onsubmit="return confirm('Êtes vous vraiment sûr ?')" class="btn btn-danger">supprimer</a>
                </td>
        </tr>
        {% endfor %}
    </tbody>
</table> 
<div class="text-right">
<a href="{{ path('admin.service.add') }}" class="btn btn-primary">Ajouter un service</a>
</div>
</div>
{% endblock %}



